.git
.github
node_modules
npm-debug.log
yarn-error.log
vendor
.env
.env.*
!.env.example
!.env.railway.example
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.phpunit.result.cache
tests
.editorconfig
.vscode
.idea
*.md
